# Powerline (bash)
if command -v powerline-daemon >/dev/null 2>&1; then
  powerline-daemon -q
fi
if [ -r /usr/share/powerline/bindings/bash/powerline.sh ]; then
  source /usr/share/powerline/bindings/bash/powerline.sh
elif [ -r "$HOME/.local/pipx/venvs/powerline-status/lib/python3."*/site-packages/powerline/bindings/bash/powerline.sh ]; then
  export POWERLINE_CONFIG_COMMAND="$HOME/.local/pipx/venvs/powerline-status/bin/powerline-config"
  export POWERLINE_COMMAND="$HOME/.local/pipx/venvs/powerline-status/bin/powerline"
  source "$HOME/.local/pipx/venvs/powerline-status"/lib/python3.*/site-packages/powerline/bindings/bash/powerline.sh
fi
